@media screen and (min-width:960px) {
    .fixed-width {
        width: 960px;
        margin: auto;
    }
    .col-3 {
        width: calc(940px/3);
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }
    .col-4 {
        width: 235px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }
    body {
        background-color: #75c6b6;
        background-image: url(../img/background.png);
        background-size: cover;
        background-attachment: fixed;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    /*        nav */
    nav {
        height: 150px;
        background-color: #fff;
    }
    nav .logo {
        width: 150px;
        height: 80px;
        float: left;
        margin-top: 30px;
        margin-left: 50px;
    }
    nav .menu {
        float: right;
        margin-top: 30px;
        margin-right: 50px;
    }
    nav .menu .icon {
        display: block;
        float: right;
        margin-left: 10px;
        color: cadetblue;
        text-decoration: none;
    }
    nav .menu .icon:hover {
        color: #155355;
    }
    nav .menu p {
        display: block;
        margin-bottom: 15px;
        text-align: right;
        color: cadetblue;
        font-size: 12px;
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
        float: left;
        list-style-type: none;
    }
    nav .menu ul li a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 20px;
        border-top: solid 1px #000;
        line-height: 32px;
        color: black;
        font-size: 14px;
        text-decoration: none;
        transition: all .5s;
    }
    nav .menu ul li a:hover {
        border-top: solid 4px cadetblue;
        color: cadetblue;
    }
    .main {
        background-color: rgba(255, 255, 255, 0.6);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main .left {
        display: inline-block;
        width: 480px;
        padding: 10px;
    }
    .main .left .topic {
        width: 420px;
        margin-left: 30px;
        border-bottom: 3px solid #444;
    }
    .main .left .topic i {
        line-height: 24px;
        font-weight: 200;
        font-size: 36px;
        margin-right: 5px;
        margin-bottom: 10px;
        color: #444;
    }
    .main .left .topic h2 {
        display: inline-block;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #444;
    }
    .main .left .topic h2:first-letter {
        font-size: 36px;
        font-weight: 500;
    }
    .main .left .foreword {
        width: 420px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .main .left .foreword p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    .main .left .foreword p:nth-of-type(5) {
        font-weight: 500;
        text-indent: 2em;
    }
    .main .left img {
        width: 420px;
        margin-left: 30px;
        margin-top: 25px;
        box-shadow: 0px 0px 30px #888;
    }
    .main .right {
        width: 480px;
        float: right;
    }
    .main .rightup {
        width: 480px;
        height: 200px;
    }
    .main .rightdown {
        width: 480px;
    }
    .main .rightdown .topic {
        width: 420px;
        margin-left: 30px;
        border-bottom: 2px solid #444;
    }
    .main .rightdown .topic h3 {
        display: inline-block;
        font-size: 22px;
        color: #444;
        font-style: italic;
    }
    .main .rightdown .topic h3:first-letter {
        font-size: 36px;
    }
    .main .rightdown .topic a {
        display: inline-block;
        float: right;
        font-size: 40px;
        text-decoration: none;
        color: cadetblue;
    }
    .main .rightdown .topic a:hover {
        color: #155355;
    }
    .main .rightdown .content {
        display: inline-block;
        float: left;
        width: 210px;
    }
    .main .rightdown .content a {
        display: block;
        width: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
        padding: 5px 10px;
        border-radius: 15px;
        background-color: cadetblue;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        box-shadow: 1px 1px 10px #888;
    }
    .main .rightdown .content a:hover {
        background-color: #155355;
    }
    .main .rightdown .content .branch {
/*        background-color: #fffb8e;*/
        background-color: #fff;
        color: #222;
    }
    .main .rightdown .content .branch:hover {
        color: #fff;
    }
    footer {
        background-color: #fff;
    }
    footer .menu {
        display: inline-block;
        margin-left: 20px;
    }
    footer .menu .item {
        display: inline-block;
        padding: 20px 10px 20px;
        margin-left: 10px;
    }
    footer .menu .item a {
        text-decoration: none;
        color: #155355;
        font-size: 14px;
    }
    footer .copyright {
        float: right;
        margin-right: 20px;
        padding: 20px 10px 20px;
    }
    footer .copyright p {
        color: #155355;
        font-size: 13px;
    }
}