.fixed-width {
    width: 960px;
    margin: auto;
}

.col-3 {
    width: calc(940px/3);
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.col-4 {
    width: 235px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

body {
    /*        background-color: #75c6b6;*/
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
    padding-top: 10px;
}


/*        nav */

nav {
    height: 150px;
    background-color: #fff;
}

nav .logo {
    width: 150px;
    height: 80px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

nav .menu {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

nav .menu .icon {
    display: block;
    float: right;
    margin-left: 10px;
    color: cadetblue;
    text-decoration: none;
}

nav .menu p {
    display: block;
    margin-bottom: 15px;
    text-align: right;
    color: cadetblue;
    font-size: 12px;
}

nav .menu ul {
    margin: 0;
    padding: 0;
}

nav .menu li {
    float: left;
    list-style-type: none;
}

nav .menu ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    border-top: solid 1px #000;
    line-height: 32px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    transition: all .5s;
}

nav .menu ul li a:hover {
    border-top: solid 4px cadetblue;
    color: cadetblue;
}

.main {
    background-color: rgba(255, 255, 255, .6);
    height: 900px;
}

.main .title {
    padding: 30px 30px 10px 30px;
}

.main .title .topic {
    float: left;
    width: 160px;
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 5px;
    border-bottom: 4px solid #000;
}

.main .title .attention {
    float: left;
    width: 740px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 50px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

.main .content {
    width: 900px;
    margin: auto;
}

.main .content .blank {
    width: 160px;
    height: 500px;
}

.main .content .gallery {
    display: block;
    position: relative;
    width: 220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 20px;
    border: 8px solid #444;
    text-align: center;
}

.main .content .gallery a{
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity .8s;
}

.main .content .gallery a:hover {
    opacity: 1;
}

.main .content .gallery .year{
    display: block;
    opacity: 1;
    position: relative;
    margin-top: 80px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.main .content .gallery .area {
    display: block;
    opacity: 1;
    position: relative;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.main .content .gallery h2 {
    position: relative;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.main .content .gallery p {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

footer {
    background-color: #fff;
}

footer .menu {
    display: inline-block;
    margin-left: 20px;
}

footer .menu .item {
    display: inline-block;
    padding: 20px 10px 20px;
    margin-left: 10px;
}

footer .menu .item a {
    text-decoration: none;
    color: #155355;
    font-size: 14px;
}

footer .copyright {
    float: right;
    margin-right: 20px;
    padding: 20px 10px 20px;
}

footer .copyright p {
    color: #155355;
    font-size: 13px;
}