@media screen and (min-width:480px) and (max-width:960px) {
    .fixed-width {
        width: 96%;
        margin: auto;
    }
    .col-3 {
        width: 32%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
    }
    .col-4 {
        width: 48%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
    }
    body {
        background-image: url(img/background.png);
        background-size: cover;
        background-attachment: fixed;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    /*        nav */
    nav {
        height: 140px;
        background-color: #fff;
        position: relative;
    }
    nav .logo {
        position: absolute;
        width: 120px;
        height: 70px;
        float: left;
        margin-top: 2%;
        margin-left: 5%;
    }
    nav .menu {
        position: absolute;
        float: right;
        width: 96%;
        margin-top: 50px;
        margin-left: 2%;
        margin-right: 2%;
    }
    nav .menu .icon {
        display: block;
        float: right;
        margin-left: 1%;
        margin-right: 1%;
        color: cadetblue;
        text-decoration: none;
    }
    nav .menu p {
        display: block;
        margin-bottom: 15px;
        text-align: right;
        color: cadetblue;
        font-size: 12px;
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
        float: left;
        width: 20%;
        padding: 1%;
        /*        margin-left: 4%;*/
        /*        margin-right: 1%;*/
        list-style-type: none;
        text-align: center;
    }
    nav .menu ul li a {
        display: block;
        border-top: solid 1px #000;
        line-height: 32px;
        color: black;
        font-size: 14px;
        text-decoration: none;
        transition: all .5s;
    }
    nav .menu ul li a:hover {
        border-top: solid 4px cadetblue;
        color: cadetblue;
    }
    .main {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5%;
        color: #fff;
        position: relative;
    }

    .main .arrow {
        position: fixed;
        padding: 0px 5px;
        border-radius: 30px;
        bottom: 100px;
        right: 3%;
        display: block;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff474;
    }
    .main .arrow:hover {
        background-color: #fff474;
        color: rgba(0, 0, 0, 0.7);
    }
    .main .topic {
        width: 100%;
        margin: auto;
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
        padding-bottom: 5px;
    }
    .main .topic .title {
        display: inline-block;
/*        width: 180px;*/
        font-size: 1.2em;
        letter-spacing: 1px;
        border-top: 4px solid #fff;
    }
    .main .topic .icon {
        display: inline-block;
        float: right;
        margin-left: 5px;
        font-size: 30px;
        font-weight: 100;
        text-decoration: none;
        color: #fff474;
    }
    .main .topic .icon:nth-of-type(3){
        display: none;
    }
    .main .topic .icon:hover {
        color: #b2a944;
    }
    .main .content .left {
        display: inline-block;
        float: left;
        width: 20%;
        margin-top: 10px;
    }
    .main .content .left a {
        display: block;
/*        width: 150px;*/
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 0px 15px;
        border-bottom: 1px solid #fff474;
        color: #fff474;
        text-decoration: none;
        font-size: .9em;
        font-weight: 300;
        letter-spacing: 1px;
        transition: 800ms;
/*        text-align: center;*/
    }
    .main .content .left a:nth-of-type(1) {
        background-color: #fff474;
        color: #222;
    }
    .main .content .left a:hover {
        background-color: #fff474;
        color: #222;
    }
    .main .content .text {
        display: inline-block;
        width: 70%;
        margin-left: 7%;

    }
    .main .content .text p {
        margin-bottom: 30px;
        font-size: .9em;
        letter-spacing: 1px;
        font-weight: 200;
        text-indent: 2em;
    }
    .main .content .text p img {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main .tail {
        width: 98%;
        text-align: right;
        padding-top: 15px;
        margin-bottom: 10px;
        border-top: 1px solid #fff;
    }
    .main .tail .icon a{
        display: inline-block;
        float: right;
        margin-left: 5px;
        font-size: 30px;
        font-weight: 100;
        text-decoration: none;
        color: #fff474;
    }
    .main .tail .icon a:nth-of-type(3) {
        display: none;
    }
    .main .tail .icon a:hover {
        color: #b2a944;
    }
    footer {
        background-color: #fff;
    }
    footer .menu {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    footer .menu .item {
        display: inline-block;
        padding: 1% 2% 1%;
        margin-left: 2%;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    footer .menu .item a {
        text-decoration: none;
        color: #155355;
        font-size: .95em;
    }
    footer .copyright {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 1%;
    }
    footer .copyright p {
        color: #155355;
        font-size: .8em;
    }
}