@media screen and (max-width:480px) {
    .fixed-width {
        width: 98%;
        margin: auto;
    }
    .col-3 {
        width: 98%;
        margin: auto;
        /*        float: left;*/
    }
    .col-4 {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        /*        float: left;*/
    }
    body {
        background-color: #75c6b6;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    nav {
        width: 100%;
        background-color: #fff;
    }
    nav .logo {
        width: 35%;
        margin-left: 5%;
        padding-top: 5px;
        /*        height: 30px;*/
        /*        float: left;*/
        /*        margin-top: 30px;*/
        /*        margin-left: 50px;*/
    }
    nav .menu {
        /*        float: right;*/
        margin-top: 10px;
        /*        margin-right: 1%;*/
    }
    nav .menu .icon {
        width: 10%;
        display: block;
        float: right;
        margin-left: 2%;
        margin-right: 2%;
        color: cadetblue;
        text-decoration: none;
    }
    nav .menu p {
        width: 90%;
        display: block;
        margin-bottom: 10px;
        text-align: right;
        color: cadetblue;
        font-size: 11px;
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
        /*        float: left;*/
        list-style-type: none;
        width: 96%;
        margin: auto;
    }
    nav .menu ul li a {
        display: block;
        text-align: center;
        border-top: solid 1px #000;
        line-height: 32px;
        color: black;
        font-size: 14px;
        text-decoration: none;
        transition: all .5s;
    }
    nav .menu ul li a:hover {
        border-top: solid 4px cadetblue;
        color: cadetblue;
    }
    /*        header*/
    header {
        width: 100%;
        background-color: #fff;
    }
    header .content {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: #fff;
        padding-top: 15px;
    }
    header .content .banner {
        width: 96%;
        margin: auto;
    }
    header .content h2 {
        width: 96%;
        margin: auto;
        color: cadetblue;
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 3px;
        border-bottom: 2px solid cadetblue;
    }
    header .content h2:first-letter {
        font-size: 150%;
    }
    header .content .intro {
        width: 96%;
        margin: auto;
        margin-bottom: 20px;
    }
    header .content .intro p {
        width: 96%;
        margin: auto;
        font-size: .8em;
        line-height: 1.6em;
    }
    header .content .foreword {
        width: 96%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: right;
    }
    header .content .foreword p {
        padding-right: 1%;
        font-size: .8em;
        line-height: 1.6em;
    }
    header .content .contact {
        width: 96%;
        margin: auto;
        margin-bottom: 20px;
    }
    header .content .contact div {
        width: 90%;
        margin-left: 8%;
        text-align: left;
    }
    header .content .contact a {
        display: inline-block;
        vertical-align: middle;
        color: cadetblue;
        text-decoration: none;
        font-size: 24px;
        line-height: 24px;
    }
    header .content .contact a:hover {
        color: #155355;
    }
    header .content .contact p {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: .8em;
        line-height: 28px;
    }
    footer {
        background-color: #fff;
        padding-bottom: 1%;
    }
    footer .menu {
        width: 96%;
        margin: auto;
        text-align: center;
        padding: 1% 2% 1%;
        border-top: 2px solid #155355;
    }
    footer .menu .item {
        display: inline-block;
        padding: 1%;
    }
    footer .menu a {
        text-decoration: none;
        color: #155355;
        font-size: .9em;
    }
    footer .copyright {
        /*        float: right;*/
        clear: both;
        width: 98%;
        margin: auto;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    footer .copyright p {
        color: #155355;
        font-size: .8em;
    }
}