    @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
    /*font-family:Fredericka the Great*/
    
    @import url('https://fonts.googleapis.com/css?family=Philosopher');
    @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*    @import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
    * {
        box-sizing: border-box;
        font-size: 16px;
        font-family: Philosopher, 'Noto Sans TC', sans-serif;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
    
    img {
        width: 100%;
        vertical-align: top;
    }
    
    .clearfix {
        content: "";
        display: block;
        clear: both;
    }
    /*        欄位版型*/
    
    .full-width {
        width: 100%;
    }