@media screen and (min-width:480px) and (max-width:960px) {
    .fixed-width {
        width: 96%;
        margin: auto;
    }
    .col-3 {
        width: 32%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
    }
    .col-4 {
        width: 48%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
    }
    body {
        background-image: url(img/background.png);
        background-size: cover;
        background-attachment: fixed;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    /*        nav */
    nav {
        height: 140px;
        background-color: #fff;
        position: relative;
    }
    nav .logo {
        position: absolute;
        width: 120px;
        height: 70px;
        float: left;
        margin-top: 2%;
        margin-left: 5%;
    }
    nav .menu {
        position: absolute;
        float: right;
        width: 96%;
        margin-top: 50px;
        margin-left: 2%;
        margin-right: 2%;
    }
    nav .menu .icon {
        display: block;
        float: right;
        margin-left: 1%;
        margin-right: 1%;
        color: cadetblue;
        text-decoration: none;
    }
    nav .menu p {
        display: block;
        margin-bottom: 15px;
        text-align: right;
        color: cadetblue;
        font-size: 12px;
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
        float: left;
        width: 20%;
        padding: 1%;
        /*        margin-left: 4%;*/
        /*        margin-right: 1%;*/
        list-style-type: none;
        text-align: center;
    }
    nav .menu ul li a {
        display: block;
        border-top: solid 1px #000;
        line-height: 32px;
        color: black;
        font-size: 14px;
        text-decoration: none;
        transition: all .5s;
    }
    nav .menu ul li a:hover {
        border-top: solid 4px cadetblue;
        color: cadetblue;
    }
    .main {
        background-color: rgba(255, 255, 255, .6);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main .left {
        display: inline-block;
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .main .left .topic {
        width: 95%;
        margin-left: 5%;
        border-bottom: 3px solid #444;
    }
    .main .left .topic i {
        line-height: 24px;
        font-weight: 200;
        font-size: 36px;
        margin-right: 5px;
        margin-bottom: 10px;
        color: #444;
    }
    .main .left .topic h2 {
        display: inline-block;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #444;
    }
    .main .left .topic h2:first-letter {
        font-size: 36px;
        font-weight: 500;
    }
    .main .left .foreword {
        width: 95%;
        margin-left: 5%;
        margin-top: 20px;
    }
    .main .left .foreword p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    .main .left img {
        width: 95%;
        margin-left: 5%;
        margin-top: 25px;
        box-shadow: 0px 0px 30px #888;
    }
    .main .right {
        width: 48%;
        float: right;
        margin-right: 1%;
        margin-left: 1%;
    }
    .main .rightup {
        width: 95%;
        height: 80px;
    }
    .main .rightdown {
        width: 95%;
    }
    .main .rightdown .topic {
        width: 95%;
        margin-left: 2%;
        border-bottom: 2px solid #444;
    }
    .main .rightdown .topic h3 {
        display: inline-block;
        font-size: 22px;
        color: #444;
        font-style: italic;
    }
    .main .rightdown .topic h3:first-letter {
        font-size: 36px;
    }
    .main .rightdown .topic a {
        display: inline-block;
        float: right;
        font-size: 40px;
        text-decoration: none;
        color: cadetblue;
    }
    .main .rightdown .topic a:hover {
        color: #155355;
    }
    .main .rightdown .content {
        display: inline-block;
        float: left;
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .main .rightdown .content a {
        display: block;
        width: 96%;
        margin-top: 15px;
        margin-bottom: 15px;
/*        margin-left: 30px;*/
        padding: 5px 10px;
        border-radius: 15px;
        background-color: cadetblue;
        color: #fff;
        font-size: .9em;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        box-shadow: 1px 1px 10px #888;
    }
    .main .rightdown .content a:hover {
        background-color: #155355;
    }
    footer {
        background-color: #fff;
    }
    footer .menu {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    footer .menu .item {
        display: inline-block;
        padding: 1% 2% 1%;
        margin-left: 2%;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    footer .menu .item a {
        text-decoration: none;
        color: #155355;
        font-size: .95em;
    }
    footer .copyright {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 1%;
    }
    footer .copyright p {
        color: #155355;
        font-size: .8em;
    }
}